.punainen { color: red; }

.ruskea { color: brown }

.lila { color: blueviolet }

p { color: black }

.pos-text {
  text-align: center;
  margin-top: 20%;
}

.boksi {
  display: inline-block;
  width: 200px;
  height: 100px;
  border-style: solid;
  border-width: 10px;
}

#eka {
  background-color: red;
  position: absolute;
  left: 5px;
  top: 5px;
  border-color: green;
}
  
#toka {
  background-color: yellow;
  position: absolute;
  left: 250px;
  top: 5px;
  border-color: red;
}

#kolmas {
  background-color: green;
  position: absolute;
  left: 495px;
  top: 5px;
  border-color: yellow;
}





